<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- simple toggles -->    
    <add key="FeatureToggle.SimpleFeatureTrue" value="true"/>
    <add key="FeatureToggle.SimpleFeatureFalse" value="false"/>
    <add key="FeatureToggle.TimePeriod" value="02-Jan-2050 04:05:08 | 07-Aug-2099 06:05:04"/>

    <!-- erroneous toggles -->
    <add key="FeatureToggle.NotABooleanValue" value="cefwefwecwdcw"/>
    <add key="FeatureToggle.StartDateAfterEndDate" value="02/01/2050 04:05:10 | 02/01/2050 04:05:09"/>
    <add key="FeatureToggle.StartDateAndEndDateAreTheSame" value="02/01/2050 04:05:09 | 02/01/2050 04:05:09"/>
    <add key="FeatureToggle.FormatInConfigIsWrong" value="1/01/2050 04:05:09 | 02/01/2050 04:05:44"/>    
    

    <!-- sql toggles -->    
    <add key="FeatureToggle.MySqlServerToggleTrue.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleTrue.SqlStatement" value="select Value from Toggle where ToggleName = 'MySqlServerToggleTrue'"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.SqlStatement" value="select Value from Toggle where ToggleName = 'MySqlServerToggleTrue'"/>    

  </appSettings>
</configuration>