<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- simple toggles -->
    <add key="FeatureToggle.SimpleFeatureTrue" value="true"/>
    <add key="FeatureToggle.SimpleFeatureFalse" value="false"/>
    <add key="FeatureToggle.BeforeDate" value="02-Jan-2050 04:05:08"/>
    <add key="FeatureToggle.TimePeriod" value="02-Jan-2050 04:05:08 | 07-Aug-2099 06:05:04"/>

    <!-- erroneous toggles -->
    <add key="FeatureToggle.NotABooleanValue" value="cefwefwecwdcw"/>
    <add key="FeatureToggle.StartDateAfterEndDate" value="02-Jan-2050 04:05:10 | 02-Jan-2050 04:05:09"/>
    <add key="FeatureToggle.InvalidDateFormat" value="02/01/2050 04:05:10"/>
    <add key="FeatureToggle.StartDateAndEndDateAreTheSame" value="02-Jan-2050 04:05:09 | 02-Jan-2050 04:05:09"/>
    <add key="FeatureToggle.FormatInConfigIsWrong" value="01-Jan-2050 04:05:09 | 02/01/2050 04:05:44"/>


    <!-- sql toggles -->
    <add key="FeatureToggle.MySqlServerToggleTrue.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleTrue.SqlStatement" value="select Value from Toggles where ToggleName = 'MySqlServerToggleTrue'"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.SqlStatement" value="select Value from Toggles where ToggleName = 'MySqlServerToggleFalse'"/>

  </appSettings>
  
  <connectionStrings>
    <add name="FeatureToggle.MyRavenDBToggleTrue" connectionString="Url = http://localhost:8080;database=FeatureToggleInterationTests"/>
    <add name="FeatureToggle.MyRavenDBToggleFalse" connectionString="Url = http://localhost:8080;database=FeatureToggleInterationTests"/>
    <add name="FeatureToggle.NotInDatabaseToggle" connectionString="Url = http://localhost:8080;database=FeatureToggleInterationTests"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
