<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- simple toggles -->
    <add key="FeatureToggle.SimpleFeatureTrue" value="true" />
    <add key="FeatureToggle.SimpleFeatureFalse" value="false" />
    <add key="FeatureToggle.BeforeDate" value="02-Jan-2050 04:05:08" />
    <add key="FeatureToggle.TimePeriod" value="02-Jan-2050 04:05:08 | 07-Aug-2099 06:05:04" />


    <!-- erroneous toggles -->
    <add key="FeatureToggle.NotABooleanValue" value="cefwefwecwdcw" />
    <add key="FeatureToggle.StartDateAfterEndDate" value="02-Jan-2050 04:05:10 | 02-Jan-2050 04:05:09" />
    <add key="FeatureToggle.InvalidDateFormat" value="02/01/2050 04:05:10" />
    <add key="FeatureToggle.StartDateAndEndDateAreTheSame" value="02-Jan-2050 04:05:09 | 02-Jan-2050 04:05:09" />
    <add key="FeatureToggle.FormatInConfigIsWrong" value="01-Jan-2050 04:05:09 | 02/01/2050 04:05:44" />
    <add key="FeatureToggle.MissingAppSettingsSqlStatementSqlServerToggle.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />
    <add key="FeatureToggle.MissingAppSettingsSqlStatementKeySqlServerToggle.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />
    <add key="FeatureToggle.EmptyAppSettingsConnectionStringValueSqlServerToggle.ConnectionString" value="   " />
    <add key="FeatureToggle.EmptyAppSettingsConnectionStringNameValueSqlServerToggle.ConnectionStringName" value="   " />
    <add key="FeatureToggle.EmptyAppSettingsSqlStatementValueSqlServerToggle.SqlStatement" value="   " />
    <add key="FeatureToggle.DuplicatedConfigSqlServerToggle.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />
    <add key="FeatureToggle.DuplicatedConfigSqlServerToggle.SqlStatement" value="select Value from Toggles where ToggleName = 'MySqlServerToggleFalse'" />
    <add key="FeatureToggle.NameDoesNotExistInConnectionStringsSqlServerToggle.ConnectionStringName" value="MissingName" />
    <add key="FeatureToggle.ConnectionStringConfiguredByNameSqlServerToggle.ConnectionStringName" value="EmptyConnectionString" />


    <!-- sql toggles -->
    <add key="FeatureToggle.MySqlServerToggleTrue.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />
    <add key="FeatureToggle.MySqlServerToggleTrue.SqlStatement" value="select Value from Toggles where ToggleName = 'MySqlServerToggleTrue'" />
    <!-- Connection string for this toggle is in <connectionStrings> config element -->
    <add key="FeatureToggle.MySqlServerToggleFalse.SqlStatement" value="select Value from Toggles where ToggleName = 'MySqlServerToggleFalse'" />
    <add key="FeatureToggle.EmptyAppSettingsSqlStatementValueSqlServerToggle.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />


    <!-- Days of week toggles -->
    <add key="FeatureToggle.MondayAndFridayToggle" value="Monday, Friday" />
    <add key="FeatureToggle.InvalidDayToggle" value="Monday, Sun" />


    <!-- Http Json toggles -->
    <add key="FeatureToggle.HttpJsonTrueToggle" value="http://localhost:8084/api/test/getenabled" />
    <add key="FeatureToggle.HttpJsonFalseToggle" value="http://localhost:8084/api/test/getdisabled" />
    <add key="FeatureToggle.InvalidHttpJsonToggle" value="http://localhost:8084/api/test/getbadjson" />


    <!-- Version toggles -->
    <add key="FeatureToggle.MyVersionToggleFor_v0_0_2_0" value="0.0.2.0" />
    <add key="FeatureToggle.MyVersionToggleFor_v0_0_2_1" value="0.0.2.1" />
    <add key="FeatureToggle.MyVersionToggleFor_v0_0_2_2" value="0.0.2.2" />

  </appSettings>

  <connectionStrings>
    <!--SQL Server correct-->
    <add name="FeatureToggle.MySqlServerToggleFalse" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />
    <!--SQL Server error-->
    <add name="FeatureToggle.EmptyConnectionStringsConnectionStringValueSqlServerToggle" connectionString="  " />
    <add name="FeatureToggle.DuplicatedConfigSqlServerToggle" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False" />
    <add name="EmptyConnectionString" connectionString="  " />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>