<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FeatureToggle.SimpleFeatureTrue" value="true"/>
    <add key="FeatureToggle.SimpleFeatureFalse" value="false"/>
    <add key="FeatureToggle.NotABooleanValue" value="cefwefwecwdcw"/>
    <add key="FeatureToggle.ConventionOverConfigurationToggle" value="true"/>

    <add key="FeatureToggle.NewYearsDay2000" value="1/1/2000 00:00:00"/>

    <add key="FeatureToggle.MySqlServerToggleTrue.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleTrue.SqlStatement" value="select Value from Toggle where ToggleName = 'MySqlServerToggleTrue'"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.SqlStatement" value="select Value from Toggle where ToggleName = 'MySqlServerToggleTrue'"/>    

  </appSettings>
</configuration>