<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- simple toggles -->
    
    <add key="FeatureToggle.SimpleFeatureTrue" value="true"/>
    <add key="FeatureToggle.SimpleFeatureFalse" value="false"/>
    <add key="FeatureToggle.NotABooleanValue" value="cefwefwecwdcw"/>
    <add key="FeatureToggle.ConventionOverConfigurationToggle" value="true"/>


    
    <!-- single date toggles -->
    
    <add key="FeatureToggle.NewYearsDay2000" value="1/1/2000 00:00:00"/>

    
    
    <!-- Date range toggles -->
    
    <add key="FeatureToggle.AllOf2012" value="01/01/2012 00:00:00 | 31/12/2012 23:59:59"/>
    
    <add key="FeatureToggle.AppSettingsProviderTestsTimePeriod" value="02/01/2050 04:05:08 | 07/08/2099 06:05:04"/>  
    <add key="FeatureToggle.AppSettingsProviderTestsShouldErrorWhenStartDateAfterEndDate" value="02/01/2050 04:05:10 | 02/01/2050 04:05:09"/>
    <add key="FeatureToggle.AppSettingsProviderTestsShouldErrorWhenStartDateAndEndDateAreTheSame" value="02/01/2050 04:05:09 | 02/01/2050 04:05:09"/>
    <add key="FeatureToggle.AppSettingsProviderTestsShouldErrorWhenFormatInConfigIsWrong" value="1/01/2050 04:05:09 | 02/01/2050 04:05:44"/>


    




    <!-- sql toggles -->
    
    <add key="FeatureToggle.MySqlServerToggleTrue.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleTrue.SqlStatement" value="select Value from Toggle where ToggleName = 'MySqlServerToggleTrue'"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=FeatureToggleIntegrationTests;Integrated Security=True;Pooling=False"/>
    <add key="FeatureToggle.MySqlServerToggleFalse.SqlStatement" value="select Value from Toggle where ToggleName = 'MySqlServerToggleTrue'"/>    

  </appSettings>
</configuration>