<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FeatureToggle.Feature2Toggle" value="false"/>
    <add key="FeatureToggle.Feature3Toggle" value="01-Jan-2014 18:00:00"/>
    <add key="FeatureToggle.FeatureXToggle" value="true"/>
    <add key="FeatureToggle.FeatureYToggle" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
