<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.5" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.5" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net40" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net40" />
  <package id="TestStack.ConventionTests" version="2.2.1" targetFramework="net451" />
  <package id="xunit" version="2.0.0" targetFramework="net451" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net451" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net451" />
  <package id="xunit.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net451" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net451" />
</packages>